@import './reset.scss';

@font-face {
  font-family: 'SFRounded';
  src: url('/SFProRounded.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'SFRounded', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main {
  background: #ebf0f5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title_wrapper {
    width: 100%;
    height: 0%;
  }
  .wheel_wrapper {
    height: 70%;
    position: relative;
    // margin-bottom: 15vh;
    .wheel {
      height: 100%;
      #wheel {
        transform-origin: center;
      }
      .texts_wrapper {
        position: absolute;
        top: 12.5%;
        width: 100%;
        height: 75%;
        transform-origin: center;
        .text_wrapper {
          left: calc((100% - 400px) / 2);
          position: absolute;
          width: 400px;
          height: 100%;
          display: flex;
          justify-content: center;
          transform-origin: center bottom;
          .text {
            text-align: center;
            display: flex;
            margin-top: 4%;
            width: 2%;
            justify-content: center;
            font-weight: 500;
            position: relative;
            line-height: 1;
            font-size: 1vw;
            .icon {
              position: absolute;
              top: 15%;
              font-size: 1.2vw;
            }
          }
        }
      }
    }

    .button_wrapper {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 40%;
      z-index: 10;
      #start_button {
        margin: 0 auto;
      }
    }

    .indicator_wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 7.5vh;

      #indicator {
        margin: 0 auto;
        transform-origin: center top;
      }
    }
  }
  .confetti_wrapper {
    z-index: 100;
  }
  .prize_modal_wrapper {
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 50%;
    margin-top: -15vh; /* Negative half of height. */
    margin-left: -17.5vw; /* Negative half of width. */
    .prize_modal {
      width: 35vw;
      height: 30vh;
      background: #fff;
      border-radius: 1em;
      .subheading_wrapper {
        padding-top: 7.5%;
        width: 100%;
        text-align: center;
        h4 {
          font-size: 1.5vw;
          color: #808080;
        }
      }
      .prize {
        width: 100%;
        height: 50%;
        margin-top: 3.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          padding: 0 5%;
          text-align: center;
          font-size: 3.5vw;
          line-height: 1;
        }
        .icon {
          margin-top: 2%;
          font-size: 2vw;
        }
      }
    }
  }
  .black_filter {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}
